[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
vb2py = "*"
cython = "*"
pyjnius = "*"
flask = "*"

[requires]
python_version = "2.7"

[scripts]
start="pip list"
flask="python run_flask.py"
call="python call_java.py"
